
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  body
    p Hello #{firstName} #{lastName},
    p You have received this email to verify your account. Please verify your account by clicking the link below:
    a(href=`${url}`) Verify your account
    p This link can only be used by you as the account holder and will expire after 24 hours.
    p If you have received this e-mail unexpectedly, please let us know by contacting us.
    p Kind regards,
    p Blog team





