
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  body
    p Hello #{firstName} #{lastName},
    p This e-mail was sent to assist you because you cannot access your account.
    p To reset your password, please click the link below:
    a(href=`${url}`) Set a new password
    p If you have not requested this action, please ignore this email. If you think there is a problem with your account, please let us know.
    p Kind regards,
    p Blog team







